<%= form_with(model: [movie, review], local: true) do |f| %>
  <%= render "shared/errors", object: review %>

  <%= f.label :comment %>
  <%= f.text_area :comment, autofocus: true, placeholder: "What did you think?" %>

  <%= f.label :stars %>
  <% Review::STARS.each do |star| %>
    <span class="star">
      <%= f.radio_button :stars, star %>
      <%= label_tag star %>
    </span>
  <% end %>

  <%= f.submit "Post Review" %>
<% end %>
