<h1>Reviews for <%= link_to @movie.title, @movie %></h1>

<ul class="reviews">
  <% @reviews.each do |review| %>
    <li>
      <p>
        <%= profile_image(review.user, 35) %>
        <%= link_to review.user.name, review.user %>
        <span class="date">
          <%= time_ago_in_words(review.created_at) %> ago
        </span>
      </p>
      <%= render "shared/stars", percent: review.stars_as_percent %>
      <p>
        <%= review.comment %>
      </p>
      <p>
        <%= link_to "Edit", edit_movie_review_path(@movie, review), class: "button" %>
        <%= link_to "Remove", movie_review_path(@movie, review), method: "delete", class: "button" %>
      </p>
    </li>
  <% end %>
</ul>
